body {
    background-color: #ffe6cc;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

#wiki-quote {
    p {
        color: #8c8c8c;
    }

    a {
        color: #66ffcc;
    }
}

#image-section {
    margin: auto;
    width: 80%;

    p {
        text-align: center;
    }

    img {
        margin-left: 10%;
    }
}
