body {
    background-color: #ffe6cc;
}

h1, h3 {
    text-align: center;
}

p {
    text-align: justify;
}

#wiki-quote {
    margin-top: 2em;
    margin-bottom: 3em;

    p {
        color: #8c8c8c;
    }


}

a {
    color: #00e699;
}

#image-section {
    margin: auto;
    width: 80%;

    p {
        text-align: center;
    }

    img {
        margin-left: 10%;
    }
}

.important-word {
    font-weight: bold;
}

.retracted {
    text-decoration: line-through;
    color: #bfbfbf;
}

.description {
    font-style: italic;
    text-decoration: underline;
}

@media print {
    body {
        background-color: white;
    }

    .retracted {
        display: none;
    }
}
